// Settings: Base

// Fonts
$font: 'Fira Sans', sans-serif !default;
$font-loaded: 'Fira Sans', sans-serif !default;
$font-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono',
  'Courier', monospace !default;
