{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example-tab.html' import ExampleTab %}

{% set pageId = "accordion" %}

{% block content %}
  <h1>Accordion</h1>

  <h3>Usage</h3>

  <div class="c-example">
    <div class="c-example__tabs">
      {{ExampleTab('/iframes/components.accordion.html', 'Open this example in a new window')}}
    </div>
    <iframe class="c-example__iframe" src="/iframes/components.accordion.html" data-module="LabFrame"></iframe>
  </div>
  <div class="c-code">
    <pre><code>
    &lt;ul class="c-accordion" data-module="accordion"&gt;
      &lt;li class="c-accordion__item is-active"&gt;
        &lt;a href="#" class="c-accordion__toggle"&gt;accordion 1&lt;/a&gt;
        &lt;div class="c-accordion__content"&gt;
          &lt;p&gt;lorem ipsum dolor sit amet consectetur adipiscing elit, id venenatis accumsan condimentum platea pharetra convallis phasellus, fringilla libero ridiculus faucibus enim parturient.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/li&gt;
      &lt;li class="c-accordion__item"&gt;
        &lt;a href="#" class="c-accordion__toggle"&gt;accordion 2&lt;/a&gt;
        &lt;div class="c-accordion__content"&gt;
          &lt;p&gt;lorem ipsum dolor sit amet consectetur adipiscing elit, id venenatis accumsan condimentum platea pharetra convallis phasellus, fringilla libero ridiculus faucibus enim parturient.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
    </code></pre>
  </div>
{% endblock %}
