{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageId = "pagination" %}

{% block content %}
  <h1>Pagination</h1>

  <h3>Usage</h3>

  {{LabExample('components', 'pagination')}}

  <div class="c-code">
    <pre><code>
    &lt;ul class="c-pagination"&gt;
      &lt;li class="c-pagination__item is-disabled"&gt;
        &lt;span class="c-pagination__link" href="#"&gt;...&lt;/span&gt;
      &lt;/li&gt;
      &lt;li class="c-pagination__item"&gt;
        &lt;a class="c-pagination__link" href="#"&gt;...&lt;/a&gt;
      &lt;/li&gt;
      ...
      &lt;li class="c-pagination__item"&gt;
        &lt;a class="c-pagination__link" href="#"&gt;...&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
    </code></pre>
  </div>
{% endblock %}
