{% set AppParentId = "components" %}
{% set AppCurrentId = "slider" %}

{% extends 'lab-side-content.html' %}

{% from 'lab-example.html' import LabExample %}
{% from 'lab-code.html' import LabCode %}

{% block content %}
  <h1>Slider</h1>

  <p class="font-size-md">Use the slider to navigation through content on a page.</p>

  <h3>Usage</h3>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <div class="slider" data-module="Slider">
    <div class="slider__slides">
      <div class="slider__slide is-active">
        <picture class="slider__picture">
          <source srcset="..." media="(min-width: 768px)">
          <img class="slider__image" src="..." alt="">
        </picture>
        <div class="slider__content">
          <h2 class="slider__title">
            <span class="slider__text-background">...</span>
          </h2>
          <div class="slider__text">
            <span class="slider__text-background">...</span>
          </div>
        </div>
      </div>
      ...
    </div>
    <div class="slider__controls">
      <div class="slider__previous">
        ...
      </div>
      <div class="slider__pips"></div>
      <div class="slider__next">
        ...
      </div>
    </div>
  </div>
  ')}}
{% endblock %}
