{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageType = "components" %}
{% set pageId = "accordion" %}

{% block content %}
  <h1>Accordion</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}

  <div class="c-code" data-module="ExampleCode">
    <pre class="language-html"><code class="language-html">
    &lt;ul class="c-accordion" data-module="accordion"&gt;
      &lt;li class="c-accordion__item is-active"&gt;
        &lt;a href="#" class="c-accordion__toggle"&gt;...&lt;/a&gt;
        &lt;div class="c-accordion__content"&gt;
          &lt;p&gt;...&lt;/p&gt;
        &lt;/div&gt;
      &lt;/li&gt;
      ...
    &lt;/ul&gt;
    </code></pre>
  </div>
{% endblock %}
