{% set AppParentId = "components" %}
{% set AppCurrentId = "notice" %}

{% extends 'lab-side-content.html' %}

{% from 'lab-example.html' import LabExample %}
{% from 'lab-code.html' import LabCode %}

{% block content %}
  <h1>Notice</h1>

  <p class="font-size-md">Example notice component.</p>

  <h3>Usage</h3>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <div class="notice">
    <div class="notice__media">
      <img class="notice__img" src="..." alt="">
    </div>
    <div class="notice__body">
      <div class="notice__title">...</div>
      <div class="notice__text">
        ...
      </div>
    </div>
    <div class="notice__footer">
      <a class="button" href="#">...</a>
    </div>
  </div>
  ')}}
{% endblock %}
