{% set AppParentId = "components" %}
{% set AppCurrentId = "pagination" %}

{% extends 'lab-side-content.html' %}

{% from 'lab-example.html' import LabExample %}
{% from 'lab-code.html' import LabCode %}

{% block content %}
  <h1>Pagination</h1>

  <p class="font-size-md">Pagination for idicating the currently active page.</p>

  <h3>Usage</h3>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <ul class="pagination">
    <li class="pagination__item is-disabled">
      <span class="pagination__link" href="#">...</span>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">...</a>
    </li>
    ...
    <li class="pagination__item">
      <a class="pagination__link" href="#">...</a>
    </li>
  </ul>
  ')}}
{% endblock %}
