{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageType = "components" %}
{% set pageId = "alert" %}

{% block content %}
  <h1>Alert</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}

  <div class="c-code" data-module="ExampleCode">
    <pre class="language-html"><code class="language-html">
    &lt;div class="c-alert"&gt;
      &lt;div class="c-alert__body"&gt;
        &lt;div class="c-alert__media"&gt;
          &lt;img class="c-alert__img" src="..." alt=""&gt;
        &lt;/div&gt;
        &lt;div class="c-alert__content"&gt;
          &lt;div class="c-alert__title"&gt;...&lt;/div&gt;
          &lt;div class="c-alert__text"&gt;
            ...
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="c-alert__footer"&gt;
          &lt;a class="c-button" href="#"&gt;...&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    </code></pre>
  </div>
{% endblock %}
