{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example-tab.html' import ExampleTab %}

{% set pageId = "pagination" %}

{% block content %}
  <h1>Pagination</h1>

  <h3>Usage</h3>

  <div class="c-example">
    <div class="c-example__tabs">
      {{ExampleTab('/iframes/components.pagination.html', 'Open this example in a new window')}}
    </div>
    <iframe class="c-example__iframe" src="/iframes/components.pagination.html" data-module="LabFrame"></iframe>
  </div>
  <div class="c-code">
    <pre><code>
    &lt;ul class="c-pagination"&gt;
      &lt;li class="c-pagination__item is-disabled"&gt;
        &lt;span class="c-pagination__link" href="#"&gt;...&lt;/span&gt;
      &lt;/li&gt;
      &lt;li class="c-pagination__item"&gt;
        &lt;a class="c-pagination__link" href="#"&gt;...&lt;/a&gt;
      &lt;/li&gt;
      ...
      &lt;li class="c-pagination__item"&gt;
        &lt;a class="c-pagination__link" href="#"&gt;...&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
    </code></pre>
  </div>
{% endblock %}
