{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% set pageType = "components" %}
{% set pageId = "notice" %}

{% block content %}
  <h1>Notice</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}
  {{LabCode('html', '
  <div class="c-notice">
    <div class="c-notice__media">
      <img class="c-notice__img" src="..." alt="">
    </div>
    <div class="c-notice__content">
      <div class="c-notice__title">...</div>
      <div class="c-notice__text">
        ...
      </div>
    </div>
    <div class="c-notice__footer">
      <a class="c-button" href="#">...</a>
    </div>
  </div>
  ')}}
{% endblock %}
