{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageType = "components" %}
{% set pageId = "card" %}

{% block content %}
  <h1>Card</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}

  <div class="c-code" data-module="ExampleCode">
    <pre class="language-html">
      <code class="language-html">
      &lt;div class="c-card"&gt;
        &lt;div class="c-card__header"&gt;...&lt;/div&gt;
        &lt;img class="c-card__img" src="..." alt=""&gt;
        &lt;div class="c-card__body"&gt;...&lt;/div&gt;
        &lt;div class="c-card__body"&gt;
          &lt;div class="c-card__title"&gt;...&lt;/div&gt;
          &lt;div class="c-card__text"&gt;.../div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      </code>
    </pre>
  </div>
{% endblock %}
