{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example-tab.html' import ExampleTab %}

{% set pageId = "slider" %}

{% block content %}
  <h1>Slider</h1>

  <h3>Usage</h3>

  <div class="c-example">
    <div class="c-example__tabs">
      {{ExampleTab('/iframes/components.slider.html', 'Open this example in a new window')}}
    </div>
    <iframe class="c-example__iframe" src="/iframes/components.slider.html" data-module="LabFrame"></iframe>
  </div>
  <div class="c-code">
    <pre><code>
    &lt;div class="c-slider" data-module="slider"&gt;
      &lt;div class="c-slider__slides"&gt;
        &lt;div class="c-slider__slide is-active"&gt;
          &lt;picture class="c-slider__picture"&gt;
            &lt;source srcset="..." media="(min-width: 768px)"&gt;
            &lt;img class="c-slider__image" src="..." alt=""&gt;
          &lt;/picture&gt;
          &lt;div class="c-slider__content"&gt;
            &lt;div class="c-slider__text"&gt;
              &lt;h1&gt;...&lt;/h1&gt;
              &lt;p&gt;...&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        ...
      &lt;/div&gt;
      &lt;div class="c-slider__controls"&gt;
        &lt;div class="c-slider__previous"&gt;
          ...
        &lt;/div&gt;
        &lt;div class="c-slider__pips"&gt;&lt;/div&gt;
        &lt;div class="c-slider__next"&gt;
          ...
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    </code></pre>
  </div>
{% endblock %}
