{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageType = "components" %}
{% set pageId = "hero" %}

{% block content %}
  <h1>Hero</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}

  <div class="c-code" data-module="ExampleCode">
    <pre class="language-html"><code class="language-html">
    &lt;div class="c-hero"&gt;
      &lt;div class="c-hero__img" style="background-image: url('...');"&gt;&lt;/div&gt;
      &lt;div class="c-hero__body"&gt;
        &lt;div class="c-hero__title"&gt;
          ...
        &lt;/div&gt;
        &lt;div class="c-hero__text"&gt;
          &lt;p&gt;...&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    </code></pre>
  </div>
{% endblock %}
