{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% set pageType = "components" %}
{% set pageId = "card" %}

{% block content %}
  <h1>Card</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}
  {{LabCode('html', '
  <div class="c-card">
    <div class="c-card__header">...</div>
    <img class="c-card__img" src="..." alt="">
    <div class="c-card__body">...</div>
    <div class="c-card__body">
      <div class="c-card__title">...</div>
      <div class="c-card__text">.../div>
    </div>
  </div>
  ')}}
{% endblock %}
