{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example-tab.html' import ExampleTab %}

{% set pageId = "alert" %}

{% block content %}
  <h1>Alert</h1>

  <h3>Usage</h3>

  <div class="c-example">
    <div class="c-example__tabs">
      {{ExampleTab('/iframes/components.alert.html', 'Open this example in a new window')}}
    </div>
    <iframe class="c-example__iframe" src="/iframes/components.alert.html" data-module="LabFrame"></iframe>
  </div>
  <div class="c-code">
    <pre><code>
    &lt;div class="c-alert"&gt;
      &lt;div class="c-alert__body"&gt;
        &lt;div class="c-alert__media"&gt;
          &lt;img class="c-alert__img" src="//via.placeholder.com/350x200" alt=""&gt;
        &lt;/div&gt;
        &lt;div class="c-alert__content"&gt;
          &lt;div class="c-alert__title"&gt;alert title&lt;/div&gt;
          &lt;div class="c-alert__text"&gt;
            lorem ipsum dolor sit met, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a liqua. ut enim ad minim venom, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comido consequat.
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="c-alert__footer"&gt;
          &lt;a class="c-button" href="#"&gt;alert button&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    </code></pre>
  </div>
{% endblock %}
