{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageType = "components" %}
{% set pageId = "nav" %}

{% block content %}
  <h1>Nav</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}

  <div class="c-code">
    <pre><code>
    &lt;div&gt;&lt;/div&gt;
    </code></pre>
  </div>

  <h3>Vertical</h3>

  {{LabExample(pageType, pageId, 'vertical')}}

  <div class="c-code">
    <pre><code>
    &lt;div&gt;&lt;/div&gt;
    </code></pre>
  </div>

  <h3>Nested</h3>

  {{LabExample(pageType, pageId, 'nested')}}

  <div class="c-code">
    <pre><code>
    &lt;div&gt;&lt;/div&gt;
    </code></pre>
  </div>

  <h3>Responsive</h3>

  {{LabExample(pageType, pageId, 'responsive')}}

  <div class="c-code">
    <pre><code>
    &lt;div&gt;&lt;/div&gt;
    </code></pre>
  </div>

  <h3>Dropdown</h3>

  {{LabExample(pageType, pageId, 'dropdown')}}

  <div class="c-code">
    <pre><code>
    &lt;div&gt;&lt;/div&gt;
    </code></pre>
  </div>

  <h3>Accordion</h3>

  {{LabExample(pageType, pageId, 'accordion')}}

  <div class="c-code">
    <pre><code>
    &lt;div&gt;&lt;/div&gt;
    </code></pre>
  </div>

{% endblock %}
