{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageType = "components" %}
{% set pageId = "breadcrumb" %}

{% block content %}
  <h1>Breadcrumb</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}

  <div class="c-code" data-module="ExampleCode">
    <pre class="language-html">
      <code class="language-html">
      &lt;ol class="c-breadcrumb"&gt;
        &lt;li class="c-breadcrumb__item" itemscope="itemscope" itemtype="http://data-vocabulary.org/breadcrumb"&gt;
          &lt;a class="c-breadcrumb__link" href="https://example.com/" itemprop="url"&gt;
            &lt;span itemprop="title"&gt;home&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class="c-breadcrumb__item" itemscope="itemscope" itemtype="http://data-vocabulary.org/breadcrumb"&gt;
          &lt;a class="c-breadcrumb__link" href="https://example.com/furniture/" itemprop="url"&gt;
            &lt;span itemprop="title"&gt;furniture&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class="c-breadcrumb__item is-active" itemscope="itemscope" itemtype="http://data-vocabulary.org/breadcrumb"&gt;
          &lt;a class="c-breadcrumb__link" href="https://example.com/arts/furniture/kitchen/" itemprop="url"&gt;
            &lt;span itemprop="title"&gt;kitchen&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
      &lt;/ol&gt;
      </code>
    </pre>
  </div>
{% endblock %}
