{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageType = "contexts" %}
{% set pageId = "mega-nav" %}

{% block content %}
  <h1>Mega Nav</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}

  <div class="c-code" data-module="ExampleCode">
    <pre class="language-html">
      <code class="language-html">
      &lt;nav class="c-mega-nav"&gt;
        &lt;ul class="c-nav c-nav--vertical c-nav--horizontal@lg c-nav--accordion c-nav--dropdown@lg u-position-relative" data-module="nav"&gt;
          &lt;li class="c-nav__item is-accordion-nav-parent is-dropdown-nav-parent u-position-static"&gt;
            &lt;a class="c-nav__link is-active" href="..."&gt;...&lt;/a&gt;
            &lt;button class="c-button is-accordion-button"&gt;
              &lt;span class="o-icon o-icon--chevron-down"&gt;
                [icon]
              &lt;/span&gt;
            &lt;/button&gt;
            &lt;div class="is-accordion-nav is-dropdown-nav"&gt;
              &lt;div class="o-flex-grid u-size-width-100"&gt;
                &lt;div class="o-flex-grid__cell o-flex-grid__cell--span-6@sm"&gt;
                  &lt;ul class="c-nav c-nav--vertical"&gt;
                    &lt;li class="c-nav__item"&gt;
                      &lt;a href="..." class="c-nav__link"&gt;...&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class="c-nav__item"&gt;
                      &lt;a href="..." class="c-nav__link"&gt;...&lt;/a&gt;
                      &lt;ul class="c-nav c-nav--nested"&gt;
                        &lt;li class="c-nav__item"&gt;
                          &lt;a class="c-nav__link is-active" href="..."&gt;...&lt;/a&gt;
                        &lt;/li&gt;
                        ...
                      &lt;/ul&gt;
                    &lt;/li&gt;
                    &lt;li class="c-nav__item"&gt;
                      &lt;a href="..." class="c-nav__link"&gt;...&lt;/a&gt;
                    &lt;/li&gt;
                    ...
                  &lt;/ul&gt;
                &lt;/div&gt;
                &lt;div class="o-flex-grid__cell o-flex-grid__cell--span-6@sm"&gt;
                  &lt;ul class="c-nav c-nav--vertical"&gt;
                    &lt;li class="c-nav__item"&gt;
                      &lt;a href="..." class="c-nav__link"&gt;...&lt;/a&gt;
                    &lt;/li&gt;
                    ...
                  &lt;/ul&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li class="c-nav__item"&gt;
            &lt;a class="c-nav__link" href="..."&gt;...&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
      &lt;/nav&gt;
      </code>
    </pre>
  </div>
{% endblock %}
