{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}

{% set pageType = "layouts" %}
{% set pageId = "container" %}

{% block content %}
  <h1>Container</h1>

  <h3>Usage</h3>

  <div class="c-code">
    <pre><code>
    &lt;div class="o-container"&gt;...&lt;/div&gt;

    &lt;div class="o-container o-container--centered"&gt;...&lt;/div&gt;

    &lt;div class="o-container o-container--thin"&gt;...&lt;/div&gt;

    &lt;div class="o-container o-container--fluid"&gt;...&lt;/div&gt;

    &lt;div class="o-container o-container--collapse"&gt;...&lt;/div&gt;
    </code></pre>
  </div>

  <h4>Sidebar</h4>

  <div class="c-code">
    <pre><code>
    &lt;div class="o-container"&gt;
      &lt;div class="o-container o-container--sidebar"&gt;...&lt;/div&gt;
      &lt;div class="o-container o-container--body"&gt;...&lt;/div&gt;
    &lt;/div&gt;
    </code></pre>
  </div>
{% endblock %}
