{% extends 'lab-side-content.html' %}

{% set AppParentId = "components" %}
{% set AppCurrentId = "hero" %}

{% block content %}
  <h1>Hero</h1>

  <p class="font-size-md">Add a hero to your page with image and video options.</p>

  <h3>Usage</h3>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <div class="hero">
    <picture class="hero__image">
      <source media="(min-width: 768px)" srcset="..."/>
      <source srcset="..."/>
      <img src="..." alt=""/>
    </picture>
    <div class="hero__body">
      <div class="hero__title">
        <span class="hero__text-background">...</span>
      </div>
      <div class="hero__text">
        <span class="hero__text-background">...</span>
      </div>
      <div class="hero__footer">
        <a class="button" href="#">
          <span class="button__text">...</span>
        </a>
        <a class="button" href="#">
          <span class="button__text">...</span>
        </a>
      </div>
    </div>
  </div>
  ')}}

  <h3>With video</h3>

  {{LabExample(AppParentId, AppCurrentId, 'video')}}
  {{LabCode('html', '
  <div class="hero">
    <div class="hero__media">
      <picture class="hero__image">
        <source media="(min-width: 768px)" srcset="..."/>
        <source srcset="..."/>
        <img src="..." alt=""/>
      </picture>
      <video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline" class="hero__video">
        <source src="....mp4" type="video/mp4">
      </video>
    </div>
    <div class="hero__body">
      <div class="hero__title">
        <span class="hero__text-background">...</span>
      </div>
      <div class="hero__text">
        <span class="hero__text-background">...</span>
      </div>
    </div>
  </div>
  ')}}

  <h3>With YouTube</h3>

  {{LabExample(AppParentId, AppCurrentId, 'youtube')}}
  {{LabCode('html', '
  <div class="hero">
    <div class="hero__media">
      <picture class="hero__image">
        <source media="(min-width: 768px)" srcset="..."/>
        <source srcset="..."/>
        <img src="..." alt=""/>
      </picture>
      <iframe class="hero__video" src="https://www.youtube.com/embed/Q5yX-p0q3PY?controls=0&amp;showinfo=0&amp;rel=0&amp;autoplay=1&amp;loop=1&amp;mute=1&amp;playlist=Q5yX-p0q3PY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="hero__body">
      <div class="hero__title">
        <span class="hero__text-background">...</span>
      </div>
      <div class="hero__text">
        <span class="hero__text-background">...</span>
      </div>
    </div>
  </div>
  ')}}

  <h3>With Vimeo</h3>

  {{LabExample(AppParentId, AppCurrentId, 'vimeo')}}
  {{LabCode('html', '
  <div class="hero">
    <div class="hero__media">
      <picture class="hero__image">
        <source media="(min-width: 768px)" srcset="..."/>
        <source srcset="..."/>
        <img src="..." alt=""/>
      </picture>
      <iframe class="hero__video" src="https://player.vimeo.com/video/371612154?background=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="hero__body">
      <div class="hero__title">
        <span class="hero__text-background">...</span>
      </div>
      <div class="hero__text">
        <span class="hero__text-background">...</span>
      </div>
    </div>
  </div>
  ')}}
{% endblock %}
