{% extends 'lab-side-content.html' %}

{% set AppParentId = "components" %}
{% set AppCurrentId = "cookie-message" %}

{% block content %}
  <h1>Cookie Message</h1>

  <p class="font-size-md">Add a cookie alert to your page.</p>

  <h3>Usage</h3>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <div class="notice notice--modal is-active" data-module="CookieMessage">
    <div class="notice__body">
      <div class="notice__title">...</div>
      <div class="notice__text">...</div>
    </div>
    <div class="notice__footer">
      <a class="button js-cookie-message-close" href="...">...</a>
    </div>
  </div>
  ')}}
{% endblock %}
