// Settings: Base

// Colours
// Use http://chir.ag/projects/name-that-color/#51284F
// for colour variable names
$alto: #dbdbdb;
$amaranth: #e7255f;
$bombay: #afb1b8;
$bonjour: #e5e0e1;
$dove-gray: #666;
$dune: #322e2d;
$gallery: #f0f0f0;

// Fonts
$font: 'Fira Sans', sans-serif !default;
$font-loaded: 'Fira Sans', sans-serif !default;
$font-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono',
  'Courier', monospace !default;

// Accordion
$accordion-item-border: 1px solid $bonjour !default;
