$header-offset-sm: 110px + 46px;
$header-offset-md: 66px;

body,
.app-sidebar {
  padding-top: $header-offset-sm;
}

.app-header {
  flex-direction: column;
  align-items: flex-start;
}

.app-logo {
  @include great-primer;

  display: flex;
  flex-direction: column;
  padding: ($spacer / 2) 0;
  font-weight: normal;
  text-transform: none;

  img {
    width: 160px;
    margin-bottom: ($spacer / 2);
  }
}

.lab-version {
  padding: 0;
}

@include md {
  body {
    padding-top: $header-offset-md;
  }

  .app-sidebar {
    padding: ($spacer * 2) 0 0;
  }

  .app-header {
    flex-direction: row;
    align-items: center;
  }

  .app-logo {
    flex-direction: row;
    align-items: center;
    padding: ($spacer / 2) 0;

    img {
      margin: 0 $spacer 0 0;
    }
  }

  .lab-version {
    padding: 0 ($spacer / 2);
  }
}
