{% macro HeroVideo(modal) %}
  <div class="hero">
    <div class="hero__media">
      <picture class="hero__image">
        <source media="(min-width: 768px)" srcset="//placehold.it/1000x300"/>
        <source srcset="//placehold.it/600x300"/>
        <img src="//placehold.it/1000x300" alt=""/>
      </picture>
      <video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline" class="hero__video">
        <source src="../images/SonicShort.mp4" type="video/mp4">
      </video>
    </div>
    <div class="hero__body">
      <div class="hero__title">
        <span class="hero__text-background">Gotta go fast</span>
      </div>
      <div class="hero__text">
        <span class="hero__text-background">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin.</span>
      </div>
    </div>
  </div>
{% endmacro %}

{% extends 'layouts/lab-source.html' %}

{% from 'macros/lab-source.html' import LabIframe %}

{% block body %}

  {{ HeroVideo() }}

{% endblock %}
