<div class="c-notice">
  <div class="c-notice__media">
    <img class="c-notice__img" src="//via.placeholder.com/350x200" alt="">
  </div>
  <div class="c-notice__content">
    <div class="c-notice__title">Notice title</div>
    <div class="c-notice__text">
      Lorem ipsum dolor sit met, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a liqua. Ut enim ad minim venom, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comido consequat.
    </div>
  </div>
  <div class="c-notice__footer">
    <a class="c-button" href="#">Notice Button</a>
  </div>
</div>
