<ol class="breadcrumb">
  <li class="breadcrumb__item" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
    <a class="breadcrumb__link" href="https://example.com/" itemprop="url">
      <span itemprop="title">Home</span>
    </a>
  </li>
  <li class="breadcrumb__item" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
    <a class="breadcrumb__link" href="https://example.com/furniture/" itemprop="url">
      <span itemprop="title">Furniture</span>
    </a>
  </li>
  <li class="breadcrumb__item is-active" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
    <a class="breadcrumb__link" href="https://example.com/arts/furniture/kitchen/" itemprop="url">
      <span itemprop="title">Kitchen</span>
    </a>
  </li>
</ol>
