{% macro Card(header, imgSrc, imgAlt, title, text) %}
  <div class="card">
    <div class="card__header">{{header}}</div>
    <img class="card__img" src="{{imgSrc}}" alt="{{imgAlt}}">
    <div class="card__body">
      <h5 class="card__title">{{title}}</h5>
      <p class="card__text">{{text}}</p>
    </div>
  </div>
{% endmacro %}

{% extends 'layouts/lab-source.html' %}

{% from 'macros/lab-source.html' import LabIframe %}

{% block body %}

  <div class="flex-grid">
    <div class="flex-grid__cell--span-6@md">
      {{ Card('Card header', '//via.placeholder.com/350x150', '', 'Card title', 'Some text adding to the card title and to add volume to the card\'s content.') }}
    </div>
  </div>

{% endblock %}
