{% from 'macros/lab-icon.html' import Icon %}

<ul class="c-nav c-nav--vertical c-nav--horizontal@lg c-nav--accordion c-nav--dropdown@lg" data-module="Nav">
  <li class="c-nav__item is-accordion-nav-parent is-dropdown-nav-parent">
    <a class="c-nav__link is-active" href="#">Active</a>
    <button class="c-button is-accordion-button">
      <span class="o-icon o-icon--chevron-down">
        {{Icon('chevron-down')}}
      </span>
    </button>
    <ul class="c-nav is-accordion-nav is-dropdown-nav c-nav--vertical">
      <li class="c-nav__item">
        <a href="#" class="c-nav__link">Item 1 - 1</a>
      </li>
      <li class="c-nav__item">
        <a href="#" class="c-nav__link">Item 1 - 2</a>
      </li>
      <li class="c-nav__item">
        <a href="#" class="c-nav__link">Item 1 - 3</a>
      </li>
    </ul>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link" href="#">Link</a>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link" href="#">Link</a>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link is-disabled" href="#">Disabled</a>
  </li>
</ul>
