{% macro Breadcrumb(modal) %}
  <ol class="breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumb__item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
      <a itemprop="item" class="breadcrumb__link" href="#">
        <span itemprop="name">Link One</span>
        <meta itemprop="position" content="1"/>
      </a>
    </li>
    <li class="breadcrumb__item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
      <a itemprop="item" class="breadcrumb__link" href="#">
        <span itemprop="name">Link Two</span>
        <meta itemprop="position" content="2"/>
      </a>
    </li>
    <li class="breadcrumb__item" itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
      <a itemprop="item" class="breadcrumb__link" href="#">
        <span itemprop="name">Link Three</span>
        <meta itemprop="position" content="3"/>
      </a>
    </li>
  </ol>
{% endmacro %}

{% extends 'layouts/lab-source.html' %}

{% from 'macros/lab-source.html' import LabIframe %}

{% block body %}

  {{ Breadcrumb() }}

{% endblock %}
