{% macro Accordion(modal) %}
  <ul class="c-accordion" data-module="Accordion">
    {% for item in modal %}
      {% set activeClass = "" %}
      {% if item.active %}
        {% set activeClass = " is-active" %}
      {% endif %}

      <li class="c-accordion__item{{activeClass}}">
        <a href="#" class="c-accordion__toggle">{{item.title}}</a>
        <div class="c-accordion__content">
          {{item.content|safe}}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{{ Accordion([{'title': 'Accordion 1', 'content': '<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, id venenatis accumsan condimentum platea pharetra convallis phasellus, fringilla libero ridiculus faucibus enim parturient.</p>', 'active': true}, {'title': 'Accordion 2', 'content': '<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, id venenatis accumsan condimentum platea pharetra convallis phasellus, fringilla libero ridiculus faucibus enim parturient.</p>'}, {'title': 'Accordion 3', 'content': '<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, id venenatis accumsan condimentum platea pharetra convallis phasellus, fringilla libero ridiculus faucibus enim parturient.</p>'}])}}
