{% extends 'lab-source.html' %}

{% macro CookieMessage(title, text, buttonText, buttonUrl) %}
  <div class="modal is-active" data-module="Modal" data-options='{"name": "CookieMessage"}'>
    <div class="modal__content modal__content--position-bottom">
      <div class="notice">
        <div class="notice__body">
          <div class="notice__title">{{title}}</div>
          <div class="notice__text">
            {{text|safe}}
          </div>
        </div>
        <div class="notice__footer">
          <a class="button js-modal-close">{{buttonText}}</a>
          <a class="button" href="{{buttonUrl}}">Find out more</a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% block body %}

  {{ CookieMessage('Cookie message title', '<p>Lorem ipsum dolor sit met, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a liqua. Ut enim ad minim venom, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comido consequat.</p>', 'Accept', '#') }}

{% endblock %}
