{% extends 'lab-source.html' %}

{% from 'components/hero.html' import Hero %}

{% block body %}

  {{ Hero({
    'title': 'Hero title',
    'description': 'Some text adding to the hero title and to add volume to the hero\'s content.',
    'img': {
      'srcLg': '//placehold.it/1200x600',
      'srcSm': '//placehold.it/640x360',
      'description': ''
    },
    'youtube': 'Q5yX-p0q3PY',
    'button': {
      'url': '#',
      'description': 'Go somewhere'
    },
    'buttonSecondary': {
      'url': '#',
      'description': 'Go somewhere else'
    },
    'innerContainer': true
  }) }}

{% endblock %}
