{% extends 'lab-source.html' %}

{% from 'button.html' import Button %}

{% macro Hero(model) %}
  <div class="hero">
    <picture class="hero__image">
      <source media="(min-width: 960px)" srcset="{{model.img.srcLg}}"/>
      <source srcset="{{model.img.srcSm}}"/>
      <img src="{{model.img.srcLg}}" alt=""/>
    </picture>
    {% if model.title or model.description %}
      <div class="hero__body">
        {% if model.title %}
          <h2 class="hero__title">
            <span class="hero__text-background">{{model.title}}</span>
          </h2>
        {% endif %}
        <div class="hero__text">
          {% if model.description %}
            <span class="hero__text-background">{{model.description}}</span>
          {% endif %}
        </div>
        {% if model.button or model.buttonSecondary %}
          <div class="hero__footer">
            {% if model.button %}
              {{ Button(model.button) }}
            {% endif %}
            {% if model.buttonSecondary %}
              {{ Button(model.buttonSecondary) }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% block body %}

  {{ Hero({
    'title': 'Hero title',
    'description': 'Some text adding to the hero title and to add volume to the hero\'s content.',
    'img': {
      'srcLg': '//placehold.it/1200x600',
      'srcSm': '//placehold.it/600x300',
      'description': ''
    },
    'button': {
      'url': '#',
      'description': 'Go somewhere'
    }
    ,
    'buttonSecondary': {
      'url': '#',
      'description': 'Go somewhere else'
    }
  }) }}

{% endblock %}
