{% extends 'lab-source.html' %}

{% macro HeroVideo(modal) %}
  <div class="hero">
    <picture class="hero__image">
      <source media="(min-width: 960px)" srcset="{{model.img.srcLg}}"/>
      <source srcset="{{model.img.srcSm}}"/>
      <img src="{{model.img.srcLg}}" alt=""/>
    </picture>
    <video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline" class="hero__video">
      <source src="../images/SonicShort.mp4" type="video/mp4">
    </video>
    <div class="hero__body">
      <h2 class="hero__title">
        <span class="hero__text-background">Gotta go fast</span>
      </h2>
      <div class="hero__text">
        <span class="hero__text-background">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin.</span>
      </div>
    </div>
  </div>
{% endmacro %}

{% block body %}

  {{ HeroVideo({
    'title': 'Hero title',
    'description': 'Some text adding to the hero title and to add volume to the hero\'s content.',
    'img': {
      'srcLg': '//placehold.it/1200x600',
      'srcSm': '//placehold.it/640x360',
      'description': ''
    }
  }) }}

{% endblock %}
