{% extends 'layouts/lab-source.html' %}

{% macro Notice(title, imgSrc, imgAlt, text, buttonText, buttonUrl) %}
  <div class="notice">
    <div class="notice__media">
      <img class="notice__img" src="{{imgSrc}}" alt="{{imgAlt}}">
    </div>
    <div class="notice__body">
      <div class="notice__title">{{title}}</div>
      <div class="notice__text">
        {{text|safe}}
      </div>
    </div>
    <div class="notice__footer">
      <a class="button" href="{{buttonUrl}}">{{buttonText}}</a>
    </div>
  </div>
{% endmacro %}

{% block body %}

  {{ Notice('Notice title', '//placehold.it/200x200', '', '<p>Lorem ipsum dolor sit met, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a liqua. Ut enim ad minim venom, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comido consequat.</p>', 'Notice Button', '#') }}

{% endblock %}
