{% extends 'lab-source.html' %}

{% from 'icon.html' import Icon %}

{% macro Share(modal) %}
  <div class="share">
    <div class="share-item">
      <a href="#" class="button share-link">
        {{ Icon('facebook') }}
        Share
      </a>
    </div>
    <div class="share-item">
      <a href="#" class="button share-link">
        {{ Icon('twitter') }}
        Tweet
      </a>
    </div>
    <div class="share-item">
      <a href="#" class="button share-link">
        {{ Icon('pinterest') }}
        Pinterest
      </a>
    </div>
    <div class="share-item">
      <a href="#" class="button share-link">
        {{ Icon('envelope') }}
        Email
      </a>
    </div>
  </div>
{% endmacro %}

{% block body %}

  {{ Share([
  {
    'name': 'facebook',
    'url': '#',
    'text': 'Share'
  },
  {
    'name': 'twitter',
    'url': '#',
    'text': 'Tweet'
  },
  {
    'name': 'pinterest',
    'url': '#',
    'text': 'Pinterest'
  },
  {
    'name': 'envelope',
    'url': '#',
    'text': 'Email'
  }
  ]) }}

{% endblock %}
