{% extends 'layouts/lab-source.html' %}

{% from 'content/icon.html' import Icon %}

{% macro Slider(model) %}
  <div class="slider" data-module="Slider">
    <div class="slider__slides">
      {% for item in model %}
        {% set activeClass = "" %}
        {% if item.active %}
          {% set activeClass = " is-active" %}
        {% endif %}

        <div class="slider__slide{{activeClass}}">
          <picture class="slider__picture">
            <source srcset="{{item.imgSrcLg}}" media="(min-width: 768px)">
            <source srcset="{{item.imgSrcSm}}">
            <img class="slider__image" src="{{item.imgSrcSm}}" alt="{{item.imgAlt}}">
          </picture>
          <div class="slider__content">
            <h2 class="slider__title">
              <span class="slider__text-background">{{item.title}}</span>
            </h2>
            <div class="slider__text">
              <span class="slider__text-background">{{item.text}}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="slider__controls">
      <div class="slider__previous">
        {{ Icon('chevron-left') }}
      </div>
      <div class="slider__pips"></div>
      <div class="slider__next">
        {{ Icon('chevron-right') }}
      </div>
    </div>
  </div>
{% endmacro %}

{% block body %}

  {{ Slider([
  {'title': 'Slide title 1', 'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 'imgSrcSm': 'https://picsum.photos/600/600', 'imgSrcLg': 'https://picsum.photos/1600/800/', 'imgAlt': '{{item.imgAlt}}', 'active': true},
  {'title': 'Slide title 2', 'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 'imgSrcSm': 'https://picsum.photos/600/600', 'imgSrcLg': 'https://picsum.photos/1600/800/', 'imgAlt': '{{item.imgAlt}}'},
  {'title': 'Slide title 3', 'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 'imgSrcSm': 'https://picsum.photos/600/600', 'imgSrcLg': 'https://picsum.photos/1600/800/', 'imgAlt': '{{item.imgAlt}}'}
  ]) }}

{% endblock %}
