$modal-border: 1px solid $alto !default;
$modal-background-color: $light !default;
$modal-padding: $spacer !default;
$modal-header-background-color: $alto !default;
$modal-footer-border: 1px solid $alto !default;

.c-modal__content {
  border: $modal-border;
  background: $modal-background-color;
}

.c-modal__header {
  padding: $modal-padding;
  background-color: $modal-header-background-color;
}

.c-modal__body {
  padding: $modal-padding;
}

.c-modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $modal-padding;
  border-top: $modal-footer-border;

  .c-button {
    flex: none;
  }
}
