$modal-background-color: rgba($light, 0.6) !default;
$modal-content-border: 1px solid $alto !default;
$modal-content-background-color: $light !default;
$modal-content-padding: $spacer !default;
$modal-header-background-color: $alto !default;
$modal-footer-border: 1px solid $alto !default;

.c-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: $modal-background-color;

  &.is-active {
    display: flex;
  }
}

.c-modal__content {
  max-width: 500px;
  flex: 1;
  border: $modal-content-border;
  background: $modal-content-background-color;
}

.c-modal__header {
  padding: $modal-content-padding;
  background-color: $modal-header-background-color;
}

.c-modal__body {
  padding: $modal-content-padding;
}

.c-modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $modal-content-padding;
  border-top: $modal-footer-border;

  .c-button {
    flex: none;
  }
}
