// Components: Accordion

$accordion-border: 1px solid $bonjour !default;
$accordion-title-background: $color-medium !default;

.accordion {
  border: $accordion-border;
}

.accordion__header {
  background-color: $accordion-title-background;
  text-decoration: none;
}
