.masonry,
.masonry__sizer,
.masonry__item {
  width: 100%;
}

.masonry__item {
  img {
    width: 100%;
  }
}

@include md {
  .masonry__sizer,
  .masonry__item {
    width: 25%;
  }
}

@include md {
  .masonry--layout-feature {
    .masonry__sizer {
      width: 50%;
    }

    .masonry__item {
      width: 50%;

      &:nth-child(2) {
        width: 100%;
      }
    }
  }
}

@include lg {
  .masonry--layout-feature {
    .masonry__sizer {
      width: 25%;
    }

    .masonry__item {
      width: 25%;

      &:nth-child(2) {
        width: 50%;
      }
    }
  }
}
