$notice-background-color: $gray !default;
$notice-text-color: $black !default;

.notice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $spacer;
  background: $notice-background-color;
  color: $notice-text-color;
}

.notice__img {
  width: 100%;
}

.notice__body {
  padding: $spacer 0;
}

.notice__title {
  @include font-size-lg;

  margin-bottom: ($spacer / 2);
}

.notice__footer {
  padding: $spacer 0;
}

@include md {
  .notice {
    align-items: center;
  }

  .notice__media {
    display: flex;
    max-width: 10rem;
    align-items: center;
    padding-right: $spacer;
  }

  .notice__body {
    flex: 1;
    padding: 0 $spacer;
  }

  .notice__footer {
    padding: 0 $spacer;
  }
}
