$slider-max-width: 100% !default;
$slider-background-color: $black !default;
$slider-text-color: $white !default;

.slider {
  overflow: hidden;
  max-width: $slider-max-width;
  background: $slider-background-color;
  color: $slider-text-color;
}

.slider__picture {
  display: block;
}

.slider__image {
  width: 100%;
  transform: scale(1.0125);
}

.slider__content {
  padding: $spacer;
  color: $white;
}

.slider__title {
  @include font-size-xxl;

  margin: 0;
}

.slider__text {
  @include font-size-lg;
}

.slider__text-background {
  display: inline-block;
  padding: ($spacer / 2);
  background: $black;
  color: $white;
}

.slider__slide {
  position: relative;
  display: none;
  height: 100%;

  &.is-active {
    display: block;
  }

  &.is-active--next {
    .slider__picture {
      .slider__image {
        animation: slider-background-next 0.5s;
      }
    }

    .slider__content {
      animation: slider-content-next 0.5s;
    }
  }

  &.is-active--previous {
    .slider__picture {
      .slider__image {
        animation: slider-background-previous 0.5s;
      }
    }

    .slider__content {
      animation: slider-content-previous 0.5s;
    }
  }
}

.slider--scroll {
  overflow: hidden;

  .slider__slides {
    display: flex;
    flex-wrap: nowrap;
  }

  .slider__slide {
    display: block;
    height: auto;
    padding: 0 $spacer;
  }
}

@include md {
  .slider__content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $spacer;
    color: $white;
  }
}
