.hero {
  position: relative;
  padding-top: ($spacer * 6);
  margin: 0 auto;
  color: $light;
}

.hero__img {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}

.hero__body {
  position: relative;
  z-index: 1;
  max-width: $site-max-width;
  padding: ($spacer * 2);
  margin: 0 auto;
}

.hero__title {
  @include trafalgar;
}

@include md {
  .hero__title,
  .hero__text {
    width: 60%;
  }
}
