.lab-example .card {
  max-width: 400px; }

.lab-example .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.lab-example .notice--modal {
  display: flex; }

.lab-example .lab-example-target {
  display: none; }
  .lab-example .lab-example-target.is-active {
    display: block; }
