{% set AppParentId = "components" %}
{% set AppCurrentId = "cookie-message" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Cookie Message</h1>

  <h3>Usage</h3>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <div class="notice notice--modal is-active" data-module="CookieMessage">
    <div class="notice__media">
      <img class="notice__img" src="..." alt="...">
    </div>
    <div class="notice__body">
      <div class="notice__title">...</div>
      <div class="notice__text">...</div>
    </div>
    <div class="notice__footer">
      <a class="button js-cookie-message-close" href="...">...</a>
    </div>
  </div>
  ')}}
{% endblock %}
