{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% set pageType = "components" %}
{% set pageId = "hero" %}

{% block content %}
  <h1>Hero</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}
  {{LabCode('html', '
  <div class="hero">
    <div class="hero__img" style="background-image: url(\'...\');"></div>
    <div class="hero__body">
      <div class="hero__title">
        ...
      </div>
      <div class="hero__text">
        <p>...</p>
      </div>
    </div>
  </div>
  ')}}
{% endblock %}
