{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% set pageType = "components" %}
{% set pageId = "forms" %}

{% block content %}

  <h1>Forms</h1>

  <h3>Form group</h3>
  <p>The form-group class applies spacing below
  </p>

  {# {{LabExample(pageType, pageId, 'text-input')}} #}

  {{LabCode('html', '
    <div class="form-group">
      ...
    </div>
  ')}}

  <h3>Form label</h3>

  {# {{LabExample(pageType, pageId, 'text-input')}} #}

  {{LabCode('html', '
    <label class="form-label">...</label>
  ')}}

  <h3>Form control</h3>

  {# {{LabExample(pageType, pageId, 'text-input')}} #}

  {{LabCode('html', '
    <input type="text" class="form-control">


    <select class="form-control">
      <option value="...">..</option>
      ...
    </select>


    <textarea class="form-control">
      ...
    </textarea>
  ')}}

  <h3>Example combination</h3>

  {{LabCode('html', '
    <div class="form-group">
      <label class="form-label">...</label>
      <input type="text" class="form-control">
    </div>
  ')}}

{% endblock %}
