{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% set pageType = "components" %}
{% set pageId = "masonry" %}

{% block content %}
  <h1>Masonry</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}
  {{LabCode('html', '
  <div class="masonry" data-module="Masonry">
    <div class="masonry__sizer"></div>
    <div class="masonry__item">...</div>
    ...
  </div>
  ')}}

  <h3>Images</h3>

  {{LabExample(pageType, pageId, 'images')}}
  {{LabCode('html', '
  <div class="masonry" data-module="Masonry">
    <div class="masonry__sizer"></div>
    <div class="masonry__item">
      <img src="..." alt="...">
    </div>
    ...
  </div>
  ')}}
{% endblock %}
