{% set AppParentId = "components" %}
{% set AppCurrentId = "breadcrumb" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Breadcrumb</h1>

  <h3>Usage</h3>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <ol class="breadcrumb">
    <li class="breadcrumb__item" itemscope="itemscope" itemtype="http://data-vocabulary.org/breadcrumb">
      <a class="breadcrumb__link" href="..." itemprop="url">
        <span itemprop="title">Home</span>
      </a>
    </li>
    <li class="breadcrumb__item" itemscope="itemscope" itemtype="http://data-vocabulary.org/breadcrumb">
      <a class="breadcrumb__link" href="..." itemprop="url">
        <span itemprop="title">Library</span>
      </a>
    </li>
    <li class="breadcrumb__item is-active" itemscope="itemscope" itemtype="http://data-vocabulary.org/breadcrumb">
      <a class="breadcrumb__link" href="..." itemprop="url">
        <span itemprop="title">Data</span>
      </a>
    </li>
  </ol>
  ')}}
{% endblock %}
