{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% set pageType = "components" %}
{% set pageId = "pagination" %}

{% block content %}
  <h1>Pagination</h1>

  <h3>Usage</h3>

  {{LabExample(pageType, pageId)}}
  {{LabCode('html', '
  <ul class="pagination">
    <li class="pagination__item is-disabled">
      <span class="pagination__link" href="#">...</span>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">...</a>
    </li>
    ...
    <li class="pagination__item">
      <a class="pagination__link" href="#">...</a>
    </li>
  </ul>
  ')}}
{% endblock %}
