.c-lab-example {
  .c-card {
    max-width: 400px;
  }

  .c-modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
